* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff2424;
    --secondary-color: #fc4040;
    --heading-color: #211e1e;
    --primary-txt-color: #1d1d1d;
    --paragraph-color: #8e8e8e;
    --scondery-txt-color: #707070;
    --txt-color-light: #c4c4c4;
    --link-color: #5f5f5f;

}

html {
    font-size: 62.5%;
}

body {
    max-width: 375px;
    background-color: #f7f7f7;

}

.top-navbar {
    display: flex;
    justify-content: space-between;
}

.top-navbar-icon {
    display: flex;
    color: var(--primary-color);
    font-size: 2.3rem;
    padding: 5rem 3.5rem;
}

.icon-cart {
    color: #000;
}

.cart-icon {
    padding-left: 2.5rem;
    position: relative;
}

.cart-cunt {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0.3rem;
    font-size: 1.1rem;
    bottom: 0.3rem;
    right: -0.5rem;
}

.container {
    max-width: 310px;
    margin: auto;
}

h1 {
    font-size: 3rem;
    font-family: Helvetica;
}

h1 span {
    font-size: 3.5rem;
    font-family: "Helvetica-bold";
}

.favourite-meal-slid-show {
    display: flex;
}

.favourite-meal-slidshow-text {
    transform: rotate(-90deg);
}

.favourite-meal-img {
    position: relative;
}
