* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--back-ground);
    max-width: 375px;
}

:root {
    --back-ground: #cccccc;
}

.container {
    max-width: 310px;
    margin: auto;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}