* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --camera-bgcolor: #1db14b;
    --bgcolor-body: #f7f7f7;
    --label-color: #8e8e8e;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 375px;
    /* background-color: var(--bgcolor-body); */
}

.container {
    max-width: 310px;
    margin: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
}

.text-top-nav {
    font-size: 1.5rem;
}

.profile-img {
    padding: 3.5rem 0;
    display: flex;
    justify-content: center;
}

.center-img {
    position: relative;
    border-radius: 50%;
    box-shadow: 0.01rem 0.01rem 0.3rem;

}

.center-img img {
    max-width: 13.5rem;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    /* box-shadow: 0 0 ; */
}

.center-img span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--camera-bgcolor);
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;

}

.address form {
    display: grid;
}

form label {
    font-size: 1.5rem;
    color: var(--label-color);
}

form input {
    margin-bottom: 3rem;
    border: none;
    border-bottom: 1px solid #8e8e8e;
}

form input:focus {
    outline: none;
    border-bottom: 1px solid #8e8e8e;

}